/* This file contains various CSS stylings for the project app. */


#report_sidebar {
  position: fixed;
  font-weight: bold;
}

#report_sidebar a {
  color: black;
  font-weight: normal;
}

footer {
  padding-left: 100px;
}